@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@700&family=Gotu&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Gotu', Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}
h1, h2, h3, h4, h5, h6 
{
    font-family: 'Arima Madurai', Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}

body{
    font-family: 'Gotu', Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
}
.header{
    height: 650px;
    /* background: linear-gradient(0deg,#2b2d3a 10%,transparent); */
}

/* HEro section */
.hero-image {
    position: absolute;
    right: -110px;
    top: 0;
    width: 53%;
    z-index: 1;
    padding: 0 0 7px 7px;
    transform: rotate(-16deg);
}
.rectangle-shape {
    position: absolute;
    transform: rotate(-16deg);
    z-index: -1;
    background: #4c38cb;
}

.rectangle-shape.shape-1 {
    width: 224px;
    height: 190px;
    left: -17px;
    top: -168px;
    border-radius: 43px;
}
.rectangle-shape.shape-2 {
    width: 121px;
    height: 103px;
    left: -160px;
    top: 61px;
    border-radius: 32px;
}
.rectangle-shape.shape-3 {
    width: 86px;
    height: 73px;
    left: -112px;
    top: 260px;
    border-radius: 21px;
}
.rectangle-shape.shape-4 {
    width: 86px;
    height: 73px;
    left: -357px;
    top: 320px;
    border-radius: 21px;
    background-color: #422ec7;
}
header.header:after {
    position: absolute;
    width: 200%;
    top: 0;
    bottom: 0;
    left: -100%;
    content: "";
    transform: skew(0,350deg);
    background-color: #5744cf;
}

.hero-nav {
    position: relative;
    z-index: 1;
}
.b-radius-35,
.card.b-radius-35{
    border-radius: 35px;
}
.round-before{position:relative;}
.round-before::before{
        left: 40px;
        right: 40px;
        bottom: -20px;
        top: 40px;
        z-index: 0;
        content: "";
        position: absolute;
        background: #FFFFFF;
        opacity: .7;
        border: 1.14307px solid #FFFFFF;
        box-shadow: 34.292px 80.0147px 137.168px #1b31420d;
        backdrop-filter: blur(8.00147px);
        border-radius: 55.9155px;
}
.round-before > div{
    z-index: 1;
}
.form-control{
    background-image: none !important;
}
.header .navbar{
    /* height: 70px; */
    /* border: 2px solid wheat; */
    /* position: sticky;
    top: 0; */
    z-index: 1;
}
.header .navbar ul{
    list-style: none;
    display: flex;
    line-height: 70px;
    padding-left: 20px;
}
.header .navbar ul li img{
    padding-top: 15px;
}
.media-content{
    position: absolute;
    height: 650px;
    background: linear-gradient(0deg,#2b2d3a 10%,transparent);
    z-index: 2;
}
.heading h1{
    /* height: 250px; */
    /* border: 2px solid wheat; */
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
} 
.header .hero-nav .heading{
    text-align: center;
    /* border: 2px solid wheat; */
    width: 60%;
    margin: 100px auto 50px auto ;
}
.header .hero-nav .form-buttons{
   display: flex;
   justify-content: center;
   gap: 20px;
}

.subs_btn{
    padding: 10px 28px;
    border-radius: 2px;
    background: linear-gradient(306.64deg,rgba(255,41,105,.35) 27.07%,rgba(247,122,28,.35) 71.29%),#F4748B;
    color: #FFF;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    border: 1px solid #F6753E;
    box-shadow: 0 48.2439px 89.7561px #f95a8073;
    border-radius: 120px;
    position: relative;
}
.form-buttons .btnns{
    display: inline-block;
    padding: 13px 45px;
    font-size: 15px;
    color: #fff;
    position: relative;
    font-weight: 600;
    line-height: 1.2;
    background: linear-gradient(306.64deg,rgba(255,41,105,.35) 27.07%,rgba(247,122,28,.35) 71.29%),#F4748B;
    border: 1px solid #F6753E;
    box-shadow: 0 48.2439px 89.7561px #f95a8073;
    border-radius: 120px;
}

.subs_btn:focus,
.btnns:focus{
    outline: unset;
}
.subs_btn:after,
.btnns1:after,
.btnns:after {
    left: -6px;
    top: -6px;
    right: -6px;
    bottom: -6px;
    content: "";
    position: absolute;
    border: 1px solid;
    border-radius: 120px;
}
.subs_btn:after,
.btnns:after{
    border-color: #F95A80;
}
.btnns1:after{
    border-color: white;
}




.bmd-form-group input,
.form-buttons .btnns1{
    padding: 15px 28px;
    border: 2px solid #FFF;
    background:none;
    color: #FFF;
    position: relative;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 48.2439px 89.7561px #f95a8073;
    border-radius: 120px;
}
.signinForm .bmd-form-group input{
    box-shadow: unset;
    border-width: 1px;
    border-color: #666;
}
.signinForm .bmd-form-group.is-focused input,
.signinForm .bmd-form-group.is-focused input[type="password"]:focus,
.signinForm .bmd-form-group input[type="email"]:focus{
    border-color: #999;
}
.artist_hero{
    height: 300px;
    color: white;
    background-color: #1a1b22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.artist_hero .artist_head{
    margin-bottom: 30px;
}
.artist_hero .attist_para{
    margin-bottom: 30px;
    text-align: center;
}
.exp:hover{
    background-color: #FFF;
    transition: .2s;
    color: black !important;
}
.footer{
    height: 350px;
    color: white;
    /* border: 2px solid #FFF; */
    border-top: 1px solid rgb(136, 136, 136) !important;
    background-color: #1a1b22;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer .servises{
    width: 40%;
    /* border: 1px solid #FFF; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer .servises .form_services{
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer .contact_us{
    width: 40%;
    /* border: 1px solid #FFF; */
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subscribe_btn{
    padding: 15px;
    background: none;
    border: none;
    border-bottom: 1px solid #a0a0a0;
    outline: none;
    color: #FFF;
    width: 60%;

}
.servises h2{
    display: flex;
}

.contact_us .cantact_list ul{
    list-style: none;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.contact_us h2{
    align-items: flex-start;
    display: flex;
}
.contact_us .cantact_list ul li{
    padding-top: 12px;
}


/* MODEL Css*/
.w3-modal:not(.bg-white){
    background-color: #00000099 !important;
}

.w3-modal-content {
    width: 650px;
}
.model_header{
    /* background-color: #1a1b22; */
}
.w3-container h1{
    text-align: center;
}
.closemodel_signUp{
    color: #FFF;
}
.w3-modal-content {
    background-color: #203146;
    color: #FFFF;
}
.w3-container, .w3-panel {
    padding: 0.7em 16px;
}
.form_signup_conatiner{
    margin-top: 20px;
}
.form_signup_conatiner input{
    background:none;
    color: #FFFF;
    font-size: 19px;
    border-radius: 0;
}
.form_signup_conatiner input:focus{
    background: none;
    color: #FFFF;
}
.model_footer1{
    background-color: black;
}
.signupbtn input:hover{
    background-color: #FFF;
    color: black;
    transition: .2s;
}
.closemodel_signUp{
    background: #6f1239;
}
.closemodel_signUp{
    padding: 4px 13px;
    position: relative;
    float: right;
    top: -25px;
    right: -30px;
    border-radius: 50%;
}
.model_header h2{
    text-align: center;
}
.featured_artist{
  background-color: #1a1b22;
  padding-top: 70px;
}
.featured_art{
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

/* End Model */
@media (max-width:786px){
    .header{
        height: 550px;
    }
    .heading h1{
        font-size: 2.5rem;
    }
    .footer{
        flex-direction: column;
        padding: 25px;
    }
    .footer .servises{
        width: 100%;
        height: auto !important;
      
    }
    .footer .contact_us{
        width: 100%;
        height: auto !important;
     
    }
    .subscribe_btn {
        width: 40%;
    }
    
}